<div>
  <p id="name"></p>
</div>
<form class="app">
  <div class="screen join-screen active">
    <div class="form">
      <h2>Join ChatRoom</h2>

      <div class="form-imput">
        <label for="">UserName</label>
        <input type="text" id="username" />
      </div>
      <div class="form-input">
        <button id="join-user">Join</button>
      </div>
    </div>
  </div>
  <div class="screen chat-screen">
    <div class="header">
      <div class="logo">Chatroom</div>
      <button id="exit-chat">Exit</button>
    </div>
    <div class="messages">
      {{! <div class="message my-message">
                <div>
                    <div class="name">You</div>
                    <div class="text">Hi</div>
                </div>
            </div>
            <div class="update">
                ABC is joined the conversation
            </div>
            <div class="message other-message">
                <div>
                    <div class="name">ABC</div>
                    <div class="text">Hi</div>
                </div>
            </div> }}
    </div>
    <div class="typebox">
      <input type="text" id="message-input" />
      <button id="send-message" type="submit">Send</button>
    </div>
  </div>
</form>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>